[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #2877ed;
  --md-primary-bg-color: #ffffff;

  --md-accent-fg-color: #75a4eb;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #1f6bde;
  --md-primary-bg-color: #ffffff;

  --md-accent-fg-color: #75a4eb;
}