.md-content .landing-header {
  font-weight: 900;
  text-transform: capitalize;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 0%;
}
.md-content .landing-paragraph {
  font-size: 1rem;
}

.md-content h1 {
  font-weight: 400;
}

.md-content h2 {
  font-weight: 400;
}

.md-search__input {
  font-weight: 400;
}

.md-ellipsis {
  font-weight: bolder;
}